.form__button {
    width: 358px;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin: 47px 36px 37px;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    font-family: inherit;
  }
  
  .form__button:hover {
    opacity: .8;
  }
  
  
  /* Замена цвета внешней линии при фокусе кнопки */
  .form__button:focus {
    outline-color:#ffd900;
  }
  
  .form__button[type="submit"] {
    background-color: #000;
  }
  
  
  .form__button[type="reset"] {
    background-color: #ea3a3a;
  }

  @media screen and (max-width: 468px) {
    .form__button {
        width: calc(323.13px + (358 - 323.13) * ((100vw - 425px) / 43));
        height: calc(46px + (50 - 46) * ((100vw - 425px) / 43));
        margin-left: calc(32px + (36 - 32) * ((100vw - 425px) / 43));
        margin-right: calc(32px + (36 - 32) * ((100vw - 425px) / 43));
    }
}

@media screen and (max-width: 425px) {
  .form__button {
      width: calc(238px + (323.13 - 238) * ((100vw - 320px) / 105));
      height: 46px;
      margin-top: calc(45px + (47 - 45) * ((100vw - 320px) / 105));
      margin-bottom: calc(25px + (37 - 25) * ((100vw - 320px) / 105));
      margin-left: calc(22px + (32 - 22) * ((100vw - 320px) / 105));
      margin-right: calc(22px + (32 - 22) * ((100vw - 320px) / 105));
  }
}