.header {
    max-width: 880px;
    margin: auto;
    padding: 45px 48px 0 48px;
}

@media screen and (max-width: 976px) {
    .header {
        padding-left: calc(27px + (48 - 27) * ((100vw - 768px) / 208));
        padding-right: calc(27px + (48 - 27) * ((100vw - 768px) / 208));
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: calc(28px + (45 - 28) * ((100vw - 425px) / 343)) 27px 0 27px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 28px 0 0 0;
    }
}

