.custo__subtitle {
    color: #fff;
    margin: 0 0 0 24.375px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
}

@media screen and (max-width: 977px) {
    .custo__subtitle {
        font-size: calc(14.44px + (18 - 14.44) * ((100vw - 768px) / 209));
        line-height: calc(17.65px + (22 - 17.65) * ((100vw - 768px) / 209));
    }
}
