.custo__subtitle {
    color: #fff;
    margin: 0 0 0 24.375px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
}
