.gallery__like {
    background-image: url(../../../image/gallery__like__hole.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    width: 22px;
    height: 19px;
    grid-column: -1/-2;
    align-self: center;
    margin: auto;
    outline: none;
}

.gallery__like:hover {
    opacity: 0.5;
    transition: 0.3s;
}