.custo {
    margin: auto;
    max-width: 880px;
    display: grid;
    grid-template-columns: 120px minmax(282px, 360.375px) 1fr;
    grid-template-rows: 1fr 73px 1fr;
}

@media screen and (max-width: 977px) {
    .custo {
        grid-template-rows: 1fr calc(55px + (73 - 55) * ((100vw - 635px) / 342)) 1fr;
    }
}

@media screen and (max-width: 635px) {
    .custo {
        grid-template-columns: 1fr 120px minmax(241px, 1fr) 1fr;
        grid-template-rows: 1fr 55px 1fr 86px;
    }
}

@media screen and (max-width: 425px) {
    .custo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 55px 86px;
    }
}