.custo {
    margin: auto;
    max-width: 880px;
    display: grid;
    grid-template-columns: 127.5px minmax(282px, 360.375px) 1fr;
    grid-template-rows: 1fr 73px 1fr;
}

/*
@media screen and (max-width: 988px) {
.custo {
    margin-left: calc(27px + (54 - 27) * ((100vw - 768px) / 220));
    margin-right: calc(27px + (54 - 27) * ((100vw - 768px) / 220));
   }
}

@media screen and (max-width: 768px) {
    .custo {
        margin-left: calc(0px + (27 - 0) * ((100vw - 425px) / 343));
        margin-right: calc(0px + (27 - 0) * ((100vw - 425px) / 343));

    }
}*/