@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    src: url(./fonts/Inter-Medium.woff)  format('woff');
    src: url(./fonts/Inter-Medium.woff2)  format('woff2');
  }