.custo__title {
    color: #fff;
    margin: 0 0 0 24.375px;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 977px) {
    .custo__title {
        font-size: calc(27px + (42 - 27) * ((100vw - 635px) / 342));
        line-height: calc(33px + (48 - 33) * ((100vw - 635px) / 342));
    }
}

@media screen and (max-width: 635px) {
    .custo__title {
        grid-row: 2/3;
        grid-column: 3/4;
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width:425px) {
    .custo__title {
        /*margin: 0 auto 0;*/
        margin: 0;
        grid-column: 2/3;
        grid-row: 2/3;
    }
}