.profile__image {
    max-width: 168.75px;
    max-height: 120px;
    border-radius: 100%;
    grid-row: 1/4;    
}

@media screen and (max-width:635px) {
    .profile__image {   
        grid-column: 2/3;          
    }                      
}

@media screen and (max-width:425px) {
    .profile__image {
        margin: 0 auto 26px;
        grid-column: 1/4;
        grid-row: 1/2;               
    }
}