.custo__edit-button {
    margin: 0 0 0 18px;
}

.custo__edit-button:hover {
    opacity: 0.7;
    transition: 0.3s;
}

@media screen and (max-width: 977px) {
    .custo__edit-button {
        max-width: calc(18px + (24 - 18) * ((100vw - 635px) / 342));
        margin-left: calc(10px + (18 - 10) * ((100vw - 635px) / 342));
    }
}

@media screen and (max-width: 635px) {
    .custo__edit-button {
        max-width: 18px;
        margin-left: 10px;
    }
}